modules/pm_core/cfg/menu.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ENTITY % xhtml1-lat1 SYSTEM "xhtml1-lat1.ent">
%xhtml1-lat1;
<!ELEMENT menu (menu-list*)>

<!ELEMENT menu-item (path*)>
<!ATTLIST menu-item text CDATA #REQUIRED>
<!ATTLIST menu-item perm CDATA #REQUIRED>
<!ELEMENT path (#PCDATA)>

<!ELEMENT menu-list (menu-list* , menu-item*)>
<!ATTLIST menu-list text CDATA #REQUIRED>
<!ATTLIST menu-list perm CDATA #REQUIRED>
