modules/pm_core/cfg/monitor.dtd

<!ENTITY % xhtml1-lat1 SYSTEM "xhtml1-lat1.ent">  %xhtml1-lat1;
<!ELEMENT monitor ( id, source, formatter, delay, max ) >
<!ELEMENT id (#PCDATA) >

<!ELEMENT formatter (EMPTY) >
<!ATTLIST formatter class 		CDATA #REQUIRED>

<!ELEMENT source (properties?)>
<!ELEMENT properties (property*)>
<!ELEMENT property ( EMPTY )>
<!ATTLIST property  
    name      CDATA #REQUIRED
    value     CDATA #REQUIRED>
    
<!ELEMENT delay (#PCDATA) >
<!ELEMENT max (#PCDATA) >